@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  position: absolute;
  width: 300px;
  box-shadow: 20px 20px 200px rgb(0, 204, 240);
  border-radius: 12px;
  overflow: hidden;
}

form input {
  width: 100%;
  height: 130px;
  font-size: 2rem;
  padding: 1rem;
  color: rgb(0, 204, 240);
  background-color: #03213da9;
  text-align: center;
  pointer-events: none;
  border: none;
  box-shadow: 20px 20px 200px rgb(0, 204, 240);
  border-radius: 12px;
}

form input::placeholder {
  color: rgba(173, 216, 230, 0.288);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.233);
}

button {
  flex: 0 0 22%;
  margin: 5px 0;
  border: 1px solid #000;
  width: 60px;
  height: 52px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(1, 63, 102, 0.5);
  border: none;
  box-shadow: 2px 2px 5px rgb(50, 187, 205);
  color: white;
}

button:hover {
  scale: 1.2;
  background: rgba(11, 213, 240, 0.616);
  color: white;
  box-shadow: 4px 4px 5px whitesmoke;
}

.btn-yellow {
  background: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
}
.btn-btn-grey {
  background: hotpink;
  color: #fff;
}

.btn-equal {
  background: rgba(0, 255, 42, 0.363);
}
.btn-clear {
  background: rgba(255, 0, 0, 0.39);
}

#bg {
  width: 100%;
  height: auto;
}
